.header__container {
    height: 45vh;
    overflow: hidden;
    position: relative;
    color: white;
    display: grid;
    place-items: center;
}
.header__bg {
    position: absolute;
    opacity: .4;
}

.header__content {
    position: relative;
    display: grid;
    width: 40vw;
    gap: 1rem;
    text-align: center;
}
.header__content h2 {
    margin-top: 2.5rem;
}
.header__content p, .header__content small {
    font-size: .9rem;
    color: rgba(255, 255, 255, .7);
}
.header__content small {
    font-size: .8rem;
}

@media screen and (max-width: 37.5rem) {
    .header__content {
        width: 90vw;
        margin-top: 2rem;
    }
}